/* fonts */
@font-face {
	font-family: 'Mont';
	src: url('/src/assets/fonts/Mont/Mont-Regular.ttf');
	font-weight: 400;
}

@font-face {
	font-family: 'Mont';
	src: url('/src/assets/fonts/Mont/Mont-SemiBold.ttf');
	font-weight: 600;
}

@font-face {
	font-family: 'Mont';
	src: url('/src/assets/fonts/Mont/Mont-Bold.ttf');
	font-weight: 700;
}

@font-face {
	font-family: 'Mont';
	src: url('/src/assets/fonts/Mont/Mont-Heavy.ttf');
	font-weight: 800;
}

@font-face {
	font-family: 'Mont';
	src: url('/src/assets/fonts/Mont/Mont-Black.ttf');
	font-weight: 900;
}


/* global styles */

* {
	box-sizing: border-box;
	padding: 0;
}

body {
	background-color: #300060;
}

#app {
	padding: 0;
}

h1,
h2,
p,
button,
ol,
label {
	font-family: 'Mont';
	margin-block-start: 0;
	margin-block-end: 0;
}

h1 {
	font-weight: 600;
	font-size: 48px;
	line-height: 100%;
	color: #171717;
}

h2 {
	font-weight: 800;
	font-size: 36px;
	line-height: 100%;
	color: #300060;
}

p,
label {
	font-weight: 400;
	font-size: 24px;
	line-height: 120%;
	color: #171717;
}

ol {
	font-weight: 800;
	font-size: 24px;
	line-height: 180%;
	color: #DE0288;
	text-align: left;
	padding: 0 2rem;

	span {
		color: #171717;
		font-weight: 600;
	}
}

button {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50vh;
	font-size: 24px;
	font-weight: 800;
	line-height: 100%;
	border: 0;
	transition: .3s;
	cursor: pointer;

	&.main {
		width: 100%;
		height: 80px;
		background-color: #DE0288;
		color: #fff;

		&:hover {
			background-color: #DE028850;
		}
	}

	&.add {
		height: 70px;
		min-width: 305px;
		padding: 22px 27px;
		color: #DE0288;
		border: 1px solid #DE0288;
		gap: 20px;
		background-color: #fff;

		&:hover {
			color: #DE028850;
			border: 1px solid #DE028850;
		}
	}
}

.page-container {
	height: 100vh;
	width: 1000px;
	padding: 40px 100px;
	background-color: #fff;
	border-radius: 60px 60px 0px 0px;
	display: flex;
	flex-direction: column;
	gap: 60px;

	overflow-x: hidden;
	overflow-y: auto;

	&::-webkit-scrollbar {
		display: none;
	}
}

.logo {
	width: 120px;
	align-self: center;
}

@media only screen and (max-width: 768px) {
	.page-container {
		width: 100vw;
		padding: 40px 10px;
		border-radius: 0;

		gap: 40px;
	}

	h1 {
		font-size: 32px;
	}

	h2 {
		font-size: 24px;
	}

	p,
	label {
		font-size: 16px;
	}

	ol {
		font-size: 16px;
	}

	button {
		&.main {
			height: 6.7vh;
		}

		&.add {
			height: 45px;
			min-width: 220px;
			padding: 15px 25px;
			font-size: 16px;
			gap: 10px;
		}
	}
}